$color-primary: hsl(75, 94%, 57%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-grey: hsl(0, 0%, 20%);
$color-neutral-grey-dark: hsl(0, 0%, 12%);
$color-neutral-off-black: hsl(0, 0%, 8%);

$font-display: "Inter", sans-serif;

$bp-small: 25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: $color-neutral-off-black;
  font-family: $font-display;
  //   background-image: url(../design/destkop-design.jpg);
  //   background-position: center;
}

.card {
  margin: 15rem auto;
  border-radius: 1.5rem;

  width: 38rem;
  background-color: $color-neutral-grey-dark;
  color: $color-neutral-white;
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  align-items: center;
  gap: 1rem;

  @media only screen and (max-width: $bp-small) {
    width: 90vw;
  }

  &__img {
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }

  &__heading--1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  &__heading--2 {
    color: $color-primary;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  &__link,
  &__link:link &__link:active {
    width: 95%;
    text-align: center;
    font-family: $font-display;
    color: $color-neutral-white;
    background-color: $color-neutral-grey;
    padding: 1.2rem 5rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 0.8rem;
    transition: all 0.2s;
    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-neutral-off-black;
    }
  }
}
